<link rel="stylesheet" type="text/css" href="/css/home.css"/>

<ul>
	{{#each playlists}}
		<li>
			{{this}}
			{{!-- <ul>
				{{#each songs}}
					<li>{{song_name}}</li>
				{{/each}}
			</ul> --}}
		</li>
	{{/each}}
</ul>
