<link rel="stylesheet" type="text/css" href="/css/home.css"/>

playlists
<ul>
	{{#each playlists}}
		<li>
			<a href="http://localhost:1234/playlist/{{this.id}}">{{this.name}}</a>
		</li>
	{{/each}}
</ul>

<div name="new-playlist">
	<form action="playlist/new" method="POST">
		New playlist name:
		<input type="text" name="name">
		<input type="submit">
	</form>
</div>

<div name="search-playlist">
	<form action="search" method="GET">
		Search for a playlist (or a creator):
		<input type="text" name="search">
		<input type="submit">
	</form>
</div>