login
<form action="login" method="POST">
	Username<br>
	<input name="username" type="text"><br>
	Password<br>
	<input name="password" type="password"><br>
	<input type="submit">
</form>

register
<form action="register" method="POST">
	email<br>
	<input name="email" type="email"><br>
	Username<br>
	<input name="usern" type="text"><br>
	Password<br>
	<input name="psswd" type="password"><br>
	<input type="submit">
</form>