{{playlist.name}}
<div>
	{{#each playlist.songs}}
		{{this}}
	{{/each}}
</div>

{{#if canAddSong}}
<div name="add_song">
	Add new song
	<form action="{{playlist.id}}" method="POST">
		<input name="name" type="text">
		<input type="submit">
	</form>
</div>
{{/if}}