<div class="home-wrapper">
	<div class="pure-g">
		<div class="l-box pure-u-2 pure-u-md-1-2 pure-u-lg-1-3">
			<h3>{{playlist.name}}</h3>
			<div>
				<ul>
					{{#each playlist.songs}}
						<li>{{this}}</li>
					{{/each}}
				</ul>
			</div>

{{#if canAddSong}}
<div name="add_song">
	Add new song
	<form action="{{playlist.id}}" method="POST">
		<input name="name" type="text"><br>
		<input type="submit" value="Add">
	</form>
</div>
{{/if}}
</div>
		</div>
	</div>
