<header>
{{#unless SelfPage}}
{{#if isLoggedIn}}
<a href="http://localhost:1234/home">Home</a>
<a href="http://localhost:1234/logout">Log out</a>
{{else}}
<a href="http://localhost:1234/login">Log In or Register</a>
{{/if}}
{{/unless}}


</header>